body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

#game {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.color-btn {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#score, #status-message {
    margin-top: 20px;
    font-size: 1.2em;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.color-btn.active {
    opacity: 0.7;
}